body{
    background-image: url(../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    background-color: rgb(63, 59, 66);
    color: wheat;
    padding: 10px 20px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: no-drop;
    font-size: 13px;
}

button:hover {
    background-color: rgb(110, 85, 85);
}

img{
    width: 150px;
    height: 200px;
    transition: transform 0.5 ease-in-out;
    padding: 80px;
    border-radius: 100px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: wheat;
}
